body {
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
}

#container {
    max-width: 400px;
    margin: 0 auto;
}

select, button {
    display: block;
    margin: 10px auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #050000;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #66cae9;
}


select, button {
    padding: 10px;
    font-size: 16px;
}
